attrs==18.2.0
Augmentor==0.2.2
backcall==0.1.0
bleach==3.3.0
certifi==2023.7.22
cffi==1.11.5
chardet==3.0.4
cloudpickle==0.5.3
cycler==0.10.0
Cython==0.29.1
dask==2021.10.0
decorator==4.3.2
dominate==2.3.1
entrypoints==0.3
future==0.18.3
h5py==2.9.0
idna==2.7
ipykernel==5.1.0
ipython==8.10.0
ipython-genutils==0.2.0
jedi==0.13.3
Jinja2>=2.10.1
jsonschema==3.0.0
jupyter-client==5.2.4
jupyter-core==4.11.2
jupyterlab==1.2.21
jupyterlab-server==0.2.0
jupyterthemes==0.20.0
kiwisolver==1.0.1
lesscpy==0.13.0
MarkupSafe==1.1.1
mat73==0.35
matplotlib==2.2.2
MedPy==0.4.0
millify==0.1.1
mistune==0.8.4
mkl-fft==1.0.10
mkl-random==1.0.2
nbconvert==6.5.1
nbformat==4.4.0
networkx==2.1
nibabel==2.5.1
notebook==6.4.12
numpy==1.22.0
opencv-python==4.2.0.32
pandas==0.24.0
pandocfilters==1.4.2
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
pillow>=6.2.2
ply==3.11
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.18.3
ptyprocess==0.6.0
pycparser==2.19
pydensecrf==1.0rc3
Pygments==2.7.4
pyparsing==2.2.0
pyrsistent==0.14.11
python-dateutil==2.8.0
pytz==2018.4
PyWavelets==0.5.2
pyzmq==18.0.0
requests==2.20.0
runstats==1.7.1
scikit-image==0.14.0
scikit-learn==0.19.1
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
SimpleITK==1.2.0
six==1.12.0
sklearn==0.0
tensorboardX==1.6
terminado==0.8.1
testpath==0.4.2
toolz==0.9.0
torch==1.13.1
torchfile==0.1.0
torchvision==0.2.1
tornado==5.1.1
tqdm==4.23.4
traitlets==4.3.2
urllib3==1.26.5
visdom==0.1.8.3
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.48.0
